@(jobs: List[CrawlerJob])

@import helper._

@main("CrawlerJobs") {

    <h1>@jobs.size CrawlerJob</h1>

    <ul>
    @jobs.map { job =>
        <li>
            <a href="@routes.CrawlerJobCRUD.getJob(job.id.get)">@job.label</a>
            @form(routes.CrawlerJobRunner.runJob(job.id.get)) {
                <input type="submit" value="Run">
            }
        </li>
    }
    </ul>

    <h2>Add a new CrawlerJob</h2>

    @form(routes.CrawlerJobCRUD.newJob) {
        <input type="submit" value="Create new CrawlerJob">

    }

}